node_modules
package-lock.json
yarn.lock

.DS_Store
.cache
.env
.vercel
.output
.vinxi
.nitro
.tanstack-start
.tanstack

/build/
/api/
/server/build
/public/build

# Sentry Config File
.sentryclirc

# Turbo
.turbo

# Prisma
generated
dist/